interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDDwSh_ENbO2vtOP6lH6gC-v98C6gv7YWTAdDYpZuM39JSfUPdWdrlan_RhAm_fVGj5tv4wtN_nLs63LEPogkmF3DcWIRjG5RsWUDQ4eV5JKIUA__JSNKGiUOFlqitqXHx2Dxg7eQ6Wn_3yKThgdiJNHxtv
    method: GET
    uri: https://api.spotify.com/v1/me
  response:
    body:
      string: "{\n  \"display_name\" : \"Alex Kurihara\",\n  \"external_urls\" : {\n
        \   \"spotify\" : \"https://open.spotify.com/user/1220628328\"\n  },\n  \"followers\"
        : {\n    \"href\" : null,\n    \"total\" : 33\n  },\n  \"href\" : \"https://api.spotify.com/v1/users/1220628328\",\n
        \ \"id\" : \"1220628328\",\n  \"images\" : [ {\n    \"height\" : null,\n    \"url\"
        : \"https://scontent.xx.fbcdn.net/v/t1.0-1/p200x200/41099630_10157867952592796_6351742188191219712_n.jpg?_nc_cat=109&_nc_ht=scontent.xx&oh=431c4339a761ce308c17f4721f69bbb9&oe=5D325A29\",\n
        \   \"width\" : null\n  } ],\n  \"type\" : \"user\",\n  \"uri\" : \"spotify:user:1220628328\"\n}"
    headers:
    - !!python/tuple
      - Content-Type
      - - application/json; charset=utf-8
    - !!python/tuple
      - Cache-Control
      - - private, max-age=0
    - !!python/tuple
      - Vary
      - - Authorization
    - !!python/tuple
      - Access-Control-Allow-Origin
      - - '*'
    - !!python/tuple
      - Access-Control-Allow-Headers
      - - Accept, Authorization, Origin, Content-Type, Retry-After
    - !!python/tuple
      - Access-Control-Allow-Methods
      - - GET, POST, OPTIONS, PUT, DELETE, PATCH
    - !!python/tuple
      - Access-Control-Allow-Credentials
      - - 'true'
    - !!python/tuple
      - Access-Control-Max-Age
      - - '604800'
    - !!python/tuple
      - Date
      - - Mon, 06 May 2019 03:10:16 GMT
    - !!python/tuple
      - Via
      - - 1.1 google
    - !!python/tuple
      - Alt-Svc
      - - clear
    - !!python/tuple
      - Connection
      - - close
    - !!python/tuple
      - Transfer-Encoding
      - - chunked
    - !!python/tuple
      - X-Consumed-Content-Encoding
      - - gzip
    status:
      code: 200
      message: OK
    url: https://api.spotify.com/v1/me
version: 1
