interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDDwSh_ENbO2vtOP6lH6gC-v98C6gv7YWTAdDYpZuM39JSfUPdWdrlan_RhAm_fVGj5tv4wtN_nLs63LEPogkmF3DcWIRjG5RsWUDQ4eV5JKIUA__JSNKGiUOFlqitqXHx2Dxg7eQ6Wn_3yKThgdiJNHxtv
    method: GET
    uri: https://api.spotify.com/v1/me
  response:
    body:
      string: "{\n  \"display_name\" : \"Alex Kurihara\",\n  \"external_urls\" : {\n
        \   \"spotify\" : \"https://open.spotify.com/user/1220628328\"\n  },\n  \"followers\"
        : {\n    \"href\" : null,\n    \"total\" : 33\n  },\n  \"href\" : \"https://api.spotify.com/v1/users/1220628328\",\n
        \ \"id\" : \"1220628328\",\n  \"images\" : [ {\n    \"height\" : null,\n    \"url\"
        : \"https://scontent.xx.fbcdn.net/v/t1.0-1/p200x200/41099630_10157867952592796_6351742188191219712_n.jpg?_nc_cat=109&_nc_ht=scontent.xx&oh=431c4339a761ce308c17f4721f69bbb9&oe=5D325A29\",\n
        \   \"width\" : null\n  } ],\n  \"type\" : \"user\",\n  \"uri\" : \"spotify:user:1220628328\"\n}"
    headers:
    - !!python/tuple
      - Content-Type
      - - application/json; charset=utf-8
    - !!python/tuple
      - Cache-Control
      - - private, max-age=0
    - !!python/tuple
      - Vary
      - - Authorization
    - !!python/tuple
      - Access-Control-Allow-Origin
      - - '*'
    - !!python/tuple
      - Access-Control-Allow-Headers
      - - Accept, Authorization, Origin, Content-Type, Retry-After
    - !!python/tuple
      - Access-Control-Allow-Methods
      - - GET, POST, OPTIONS, PUT, DELETE, PATCH
    - !!python/tuple
      - Access-Control-Allow-Credentials
      - - 'true'
    - !!python/tuple
      - Access-Control-Max-Age
      - - '604800'
    - !!python/tuple
      - Date
      - - Mon, 06 May 2019 03:36:29 GMT
    - !!python/tuple
      - Via
      - - 1.1 google
    - !!python/tuple
      - Alt-Svc
      - - clear
    - !!python/tuple
      - Connection
      - - close
    - !!python/tuple
      - Transfer-Encoding
      - - chunked
    - !!python/tuple
      - X-Consumed-Content-Encoding
      - - gzip
    status:
      code: 200
      message: OK
    url: https://api.spotify.com/v1/me
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDDwSh_ENbO2vtOP6lH6gC-v98C6gv7YWTAdDYpZuM39JSfUPdWdrlan_RhAm_fVGj5tv4wtN_nLs63LEPogkmF3DcWIRjG5RsWUDQ4eV5JKIUA__JSNKGiUOFlqitqXHx2Dxg7eQ6Wn_3yKThgdiJNHxtv
    method: GET
    uri: https://api.spotify.com/v1/me/top/artists?time_range=short_term&limit=50
  response:
    body:
      string: "{\n  \"items\" : [ {\n    \"external_urls\" : {\n      \"spotify\"
        : \"https://open.spotify.com/artist/7pt1EL2DIGAZeqgnXBXYxM\"\n    },\n    \"followers\"
        : {\n      \"href\" : null,\n      \"total\" : 850\n    },\n    \"genres\"
        : [ ],\n    \"href\" : \"https://api.spotify.com/v1/artists/7pt1EL2DIGAZeqgnXBXYxM\",\n
        \   \"id\" : \"7pt1EL2DIGAZeqgnXBXYxM\",\n    \"images\" : [ {\n      \"height\"
        : 640,\n      \"url\" : \"https://i.scdn.co/image/054bbd05fcc9c57ee66f6066c4b7344e117422e0\",\n
        \     \"width\" : 640\n    }, {\n      \"height\" : 320,\n      \"url\" :
        \"https://i.scdn.co/image/cb3330a262111620bc01d3758c90c46a35c3af41\",\n      \"width\"
        : 320\n    }, {\n      \"height\" : 160,\n      \"url\" : \"https://i.scdn.co/image/6d0113496ad19a7c145b8c80690dd251f7474db6\",\n
        \     \"width\" : 160\n    } ],\n    \"name\" : \"Nolan Garrett\",\n    \"popularity\"
        : 22,\n    \"type\" : \"artist\",\n    \"uri\" : \"spotify:artist:7pt1EL2DIGAZeqgnXBXYxM\"\n
        \ }, {\n    \"external_urls\" : {\n      \"spotify\" : \"https://open.spotify.com/artist/2sSGPbdZJkaSE2AbcGOACx\"\n
        \   },\n    \"followers\" : {\n      \"href\" : null,\n      \"total\" : 113914\n
        \   },\n    \"genres\" : [ \"bedroom pop\", \"la indie\" ],\n    \"href\"
        : \"https://api.spotify.com/v1/artists/2sSGPbdZJkaSE2AbcGOACx\",\n    \"id\"
        : \"2sSGPbdZJkaSE2A[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDDwSh_ENbO2vtOP6lH6gC-v98C6gv7YWTAdDYpZuM39JSfUPdWdrlan_RhAm_fVGj5tv4wtN_nLs63LEPogkmF3DcWIRjG5RsWUDQ4eV5JKIUA__JSNKGiUOFlqitqXHx2Dxg7eQ6Wn_3yKThgdiJNHxtv
    method: GET
    uri: https://api.spotify.com/v1/me/top/artists?time_range=medium_term&limit=50
  response:
    body:
      string: "{\n  \"items\" : [ {\n    \"external_urls\" : {\n      \"spotify\"
        : \"https://open.spotify.com/artist/4wXchxfTTggLtzkoUhO86[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDDwSh_ENbO2vtOP6lH6gC-v98C6gv7YWTAdDYpZuM39JSfUPdWdrlan_RhAm_fVGj5tv4wtN_nLs63LEPogkmF3DcWIRjG5RsWUDQ4eV5JKIUA__JSNKGiUOFlqitqXHx2Dxg7eQ6Wn_3yKThgdiJNHxtv
    method: GET
    uri: https://api.spotify.com/v1/me/top/artists?time_range=long_term&limit=50
  response:
    body:
      string: "{\n  \"items\" : [ {\n    \"external_urls\" : {\n      \"spotify\"
        : \"https://open.spotify.com/artist/3TVXtAsR1Inumwj472S9r4\[...]
