export PYTHONPATH=.
export DATABASE_URL=sqlite:///test_database.db
export PORT=8080
export SPOTIFY_CLIENT_ID="placeholder"
export SPOTIFY_CLIENT_SECRET="placeholder"
export CODECOV_TOKEN="placeholder"
